.hint {
  margin-bottom: 1rem;
}

.plotContainer {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.plotWrapper {
  max-width: 700px;
  width: 100%;
}

.plotTitle {
  margin-bottom: 1rem;
  color: #1e293b;
  text-align: center;
  margin-top: 2rem;
}

.explanation {
  margin-bottom: 2rem;
}